.sidebar{
    border-top: none;
    background: #24242b;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    // padding: 1rem;
    height: 100%;
    position: relative;
    z-index: 1;
}
.sidebarTopShown {
    display: flex;
    flex-direction: column;
}
.rcImgShown{
    gap: 0.5rem;
    display: flex;
    align-items: center;
    margin: 0 1rem;
}
.sidebarTopShown p{
    white-space: nowrap;
}
.showHideImg, .showHideImgHidden{
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 5px;
}
.showHideImgHidden{
    margin-bottom: 1rem;
}
.showHideImg:hover, .showHideImgHidden:hover{
    background-color:rgb(89, 89, 89)
}
.usersExpanded{
    display: flex;
    align-items: center;
    white-space: normal;
    justify-content: space-between;
    gap: 0.4rem;
}
.streamerPhoto{
    border-radius: 9000px;
}
.imgRC{
    border-radius: 900px;
}

.liveIcon{
    min-width: 8px;
    max-width: 8px;
    min-height: 8px;
    max-height: 8px;
    background-color: red;
    border-radius: 900px;
}
.viewCount{
    display: flex;
    gap:0.3rem;
    align-items: center;
    font-size: 13px;
    align-self: flex-start;
}
.picAndUser{
    display: flex;
    gap: 0.7rem;
}
.userSidebarTxt{
    display: block;
}
.gameName{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 8rem;
    white-space: nowrap;
    color: #adadb8;
    font-size: 13px;
}
.streamerName{
    color: #dedee3;
    font-size: 14px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    max-width: 8rem;
}
.userContainer{
    padding: 0.4rem 0.5rem;
    padding-right: 0.7rem;
    width: 100%;
}
.userContainer:hover{
    cursor: pointer;
    background-color: #333336;
}
.sidebarTopHidden{
    padding: 0.3rem 0.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.userContainerHidden{
    padding: 0.3rem;
    cursor: pointer;
}

.userContainer:hover::after{
    content: attr(data-tooltip);
    position: absolute;
    background-color: rgb(31, 30, 30);
    color: white;
    padding: 0.5rem;
    border-radius: 8px;
    text-overflow: ellipsis;
    width: 12rem;
    transform: translateX(116%) translateY(-95%);
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    cursor:default;
}
.userContainerHidden:hover::after{
    content: attr(data-tooltip);
    position: absolute;
    color:#bf94ff;
    background-color: black;
    width: 9rem;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transform: translateX(29%) translateY(-55%);
    padding: 0.5rem;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor:default;
}
.streamerLink{
    text-decoration: none;
    color: white;
}